.room {
    box-shadow: 1px 1px 10px rgba(117, 70, 70, 0.1);
    border-radius: 5px;
}

.room .heading {
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

.send {
    display: flex;
    justify-content: center;
}

.send input {
    border-radius: 3px;
    border: 1px solid grey;
}

.messages {
    background-color: whitesmoke;
}

.my-message {
    align-self: flex-end;
}

.room .messages > div {
    display: flex;
    flex-direction: column;
    width: auto !important;
    overflow: auto;
    height: 400px;
    padding: 1rem;
}
