* {
    scrollbar-width: thin;
    scrollbar-color: inherit #402f6c;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    background-color: #402f6c;
    border-radius: 10px;
}

.image2 {
    background: url('../../images/valentin-muller-bWtd1ZyEy6w-unsplash.jpg') no-repeat center;
    position: fixed;
    filter: blur(1px);
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.mainChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 90%;
    max-width: 1920px;
    gap: 20px;
    flex-grow: 1;
}

.chat {
    flex-direction: row;
    margin: 50px 0 20px;
    flex-grow: 0;
}

.users {
    display: flex;
    font-size: 20px;
    margin: 20px 20px 0;
    width: 90%;
}

.typing {
    display: flex;
    width: 90%;
}

.navbar {
    font-size: 30px;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.currUser {
    display: flex;
    align-items: center;
}

button {
    font-size: 15px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

.send {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.send input {
    background: inherit;
    color: var(--primary);
    border-radius: 3px;
    border: 1px solid var(--primary);
    width: 95%;
}

.messages {
    margin: 15px 0;
    width: 90%;
    height: 60vh;
}

.message {
    border: 1px solid var(--primary);
    border-radius: 30px;
    align-self: flex-start;
    padding: 10px;
    margin: 5px;
}

.messages button {
    background: var(--primbuttn);
}

.messages button:hover {
    background: var(--secbuttn);
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.my-message {
    align-self: flex-end;
}

.my-message h5 {
    text-align: end;
}

.room .messages > div {
    display: flex;
    flex-direction: column;
    width: auto !important;
    overflow: auto;
    height: inherit;
    padding: 1rem;
}

@media only screen and (max-width: 450px) {
    .navbar {
        font-size: 20px;
    }
    .users, .message h3 {
        font-size: 17px;
    }
    .chat {
        font-size: 30px;
    }
}