@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: lightgray;    
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.login {
    background: url('../../images/login.webp') no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    filter: saturate(1.4);
}

.big-1 {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.form {
    flex-grow: 1;
    flex-direction: row;
}

input {
    height: 32px;
    width: 400px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    border: none;
}

p {
    text-align: right;
    font-size: 15px;
}

p:hover {
    text-decoration: underline;
    cursor: pointer;
}

label {
    margin: 25px;
    text-align: left;
}

.icon {
    margin-left: 25px;
}

.icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media only screen and (max-width: 1030px) {
    .form {
        flex-direction: column;
    }
    .icon {
        margin: 45px 0;
    }
}

@media only screen and (max-width: 500px) {
    input {
        width: 300px;
    }
}